{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock  %}

{% block content %}

<div class="jumbotron">
    <h1>Profile</h1>
    <p class="lead">
        學生帳號：<br>
開發中專案：<br>
上傳『簡報』、『短片』、『程式碼』，其中簡報預設為pdf格式
，並能在此網站上直接瀏覽；短片先行上傳至Youtube平台，以連結方
式嵌入網站；程式碼藉由Github儲存，本網站指有網站指引功能，無資
料擷取。
        <br>
專案資訊：<br>
顯示教師評分分為報告(35%)、影片(35%)、程式碼(30%)，同學對本專
案評級(1~5顆星)，教師對專案評語。
        <br>
專案評級(學生<->學生)：<br>
系統將自動匹配專案給予學生互相評級，評級為1-5星級，可於評級系
統中看到簡報、影片、外連至Github觀看程式碼，並於此頁面中完成評
分。
        <br>
專案分享(精選專案)：<br>
若專案經由教師推薦成為精選專案，學生可以決定是否同意公開於平
台上(訪客即可瀏覽)，學生須補上傳『封面照片』、『專案歷程心得』
，完成此設定即會顯示於首頁。
教師帳號：<br>
專案新增：<br>
開設一間專案，資料包含『課程主題』、『課程內容』』、『課程進
度』、『課程期限』、『課程代碼』、『開學學校(非必填)』、設定專
案評分比例
        <br>
學生管理：<br>
管理加入此專案之學生，顯示『姓名』、『學校』
『電子信箱』、『上次上線時間』，並可以在此藉由信箱寫信連絡學生
，也可以踢除非本課程之學生。
專案資訊：<br>
可以在此瀏覽學生的專案繳交況(未繳交、已繳交、已逾期)，如已經完成評級會顯示(已評級)，並顯示評級分數，點擊列表擊可以近專案評級系統開始評分，並可以在此選擇精選文章。
        <br>
專案評級(教師->學生)：<br>
包含自動響應式PDF線上顯示、以及嵌入式Youtube影片，再同一頁面即可完成所有作品瀏覽，右方有個別項目評分，並能寫下評語(僅教師->學生)，由此處推薦優良專案，系統會以信件通知學生。
        <br>
   </p>

</div>

{% endblock  %}