{% extends 'base.html' %}
{% load account %}
{% block title %}隊伍資料{% endblock %}

{% block content %}
    <section class="bottom" id="table-section">
        <div class="container">
            <h2 class="title">隊伍狀態</h2>
            <p class="sub_title">檢視隊伍資訊</p>
            <div class="content-box table-responsive">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title">{{ form.team_name }}</h2>
                            <p class="sub_title">{{ form.team_topic }}</p>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="title" style="cursor: pointer"
                                        onclick="javascript:location.href='{% url 'show_team' %}'">隊伍成員
                                        {% if target_members %}
                                            <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                        {% else %}
                                            <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                        {% endif %}
                                    </h3>
                                </div>
                            </div>
                            <hr>
                            {% if target_members %}
                                {% for target_member in target_members %}
                                    <h5><span class="badge badge-info">
                                    {% if forloop.first %}隊長{% else %}隊員{% endif %}
                                    </span>
                                        {{ target_member.member_name }}
                                    </h5>
                                {% endfor %}
                            {% else %}
                                <p class="sub_title">尚未完成隊員資料填寫，<a href="{% url 'show_team' %}">立即開始!</a></p>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="title">複賽競賽文件
                                        {% if target_team.ppt_link and target_team.video_link and target_team.readme and target_team.present %}
                                            <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                        {% else %}
                                            <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                        {% endif %}
                                    </h3>
                                </div>
                                <div class="col-4" style="text-align: end;align-self: flex-end;">
                                    <h5 class="title" style="margin-bottom: 0px;cursor: pointer"
                                        onclick="javascript:location.href='{% url 'add_files' %}'"><span
                                            class="badge badge-secondary">上傳</span></h5>
                                </div>
                            </div>
                            <hr>
                            <h5>
                                <span class="badge badge-info">作品說明書</span>
                                {% if target_team.readme %}
                                    <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                {% else %}
                                    <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                {% endif %}
                            </h5>

                            <h5>
                                <span class="badge badge-info">A1海報(直式)</span>
                                {% if target_team.present %}
                                    <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                {% else %}
                                    <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                {% endif %}
                            </h5>

                            <h5>
                                <span class="badge badge-info">Youtube影片</span>
                                {% if target_team.video_link %}
                                    <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                {% else %}
                                    <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                {% endif %}
                            </h5>

                            <h5>
                                <span class="badge badge-info">Google 簡報</span>
                                {% if target_team.ppt_link %}
                                    <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                {% else %}
                                    <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                {% endif %}
                            </h5>

                        </div>
                        <div class="col-12 col-md-4">
                            <h3 class="title">複賽資訊</h3>
                            <hr>
                            <p class="sub_title">110/3/13(六)國立台灣大學</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}
{% block JScontent %}

{% endblock %}

