{% extends 'base.html' %}
{% load account %}
{% block title %}隊伍資料{% endblock %}

{% block content %}
    <section class="bottom" id="table-section">
        <div class="container">
            <h2 class="title">隊伍狀態</h2>
            <p class="sub_title">檢視隊伍資訊</p>
            <div class="content-box table-responsive">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title">{{ form.team_name }}</h2>
                            <p class="sub_title">{{ form.team_topic }}</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="title" style="cursor: pointer"
                                        onclick="javascript:location.href='{% url 'show_team' %}'">隊伍成員
                                        {% if target_members %}
                                            <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                        {% else %}
                                            <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                        {% endif %}
                                    </h3>
                                </div>
                                <div class="col-4" style="text-align: end;align-self: flex-end;">
                                    <h5 class="title" style="margin-bottom: 0px;cursor: pointer"
                                        onclick="javascript:location.href='{% url 'show_team' %}'"><span
                                            class="badge badge-secondary">編輯</span></h5>
                                </div>
                            </div>
                            <hr>
                            {% if target_members %}
                                {% for target_member in target_members %}
                                    <h5><span class="badge badge-info">
                                    {% if forloop.first %}隊長{% else %}隊員{% endif %}
                                    </span>
                                        {{ target_member.member_name }}
                                    </h5>
                                {% endfor %}
                            {% else %}
                                <p class="sub_title">尚未完成隊員資料填寫，<a href="{% url 'show_team' %}">立即開始!</a></p>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="row">
                                <div class="col-8">
                                    <h3 class="title">競賽文件
                                        {% if target_team.affidavit and target_team.video_link and target_team.readme %}
                                            <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                        {% else %}
                                            <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                        {% endif %}
                                    </h3>
                                </div>
                                <div class="col-4" style="text-align: end;align-self: flex-end;">
                                    <h5 class="title" style="margin-bottom: 0px;cursor: pointer"
                                        onclick="javascript:location.href='{% url 'add_files' %}'"><span
                                            class="badge badge-secondary">上傳</span></h5>
                                </div>
                            </div>
                            <hr>
                            <h5>
                                <span class="badge badge-info">競賽切結書</span>
                                {% if target_team.affidavit %}
                                    <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                {% else %}
                                    <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                {% endif %}
                            </h5>
                            <h5>
                                <span class="badge badge-info">Youtube影片</span>
                                {% if target_team.video_link %}
                                    <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                {% else %}
                                    <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                {% endif %}
                            </h5>
                            <h5>
                                <span class="badge badge-info">作品說明書</span>
                                {% if target_team.readme %}
                                    <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                {% else %}
                                    <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                {% endif %}
                            </h5>
                            <a href="https://sites.google.com/mail.fcu.edu.tw/2021coding101/download?authuser=0"><p class="sub_title">相關檔案連結</p></a>
                        </div>
                        <div class="col-12 col-md-3">
                            <h3 class="title">初賽資料驗證
                                {% if target_team.stu_check %}
                                    <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                {% else %}
                                    <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                {% endif %}
                            </h3>
                            <hr>
                            <p class="sub_title">擬訂於110/1/11(一)前完成驗證</p>
                            <p class="sub_title">將審查『隊伍成員』與『繳交文件』是否符合資格，檢驗期間您可能會接到由本單位寄送之電子郵件或是接到我們的電話。</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <h3 class="title">初賽結果</h3>
                            <hr>
                            <p class="sub_title">擬訂於110/1/22(五)公布</p>
                        </div>
                        {% complete target_members target_team.affidavit target_team.video_link target_team.readme as complete_rate %}
                        {% if complete_rate != 0 %}
                            <div class="col-6 d-none d-md-block d-lg-block " style="margin-top: 50px">
                                <div class="progress">
                                    <div id="complete-bar" class="progress-bar bg-success" role="progressbar"
                                         aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                         style="width:{{ complete_rate }}%">
                                        {{ complete_rate }}%
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
    </section>

{% endblock %}
{% block JScontent %}

{% endblock %}

