{% extends 'base.html' %}
{% load account %}
{% block title %}隊伍資料{% endblock  %}

{% block content %}
    <section class="bottom" id="table-section">
        <div class="container">
            <h2 class="title">隊伍狀態</h2>
            <p class="sub_title">檢視隊伍資訊</p>
            <div class="content-box table-responsive">
                  <div>
                      <div class="row">
                          <div class="col-12">
                              <h2 class="title">{{ form.team_name }}</h2>
                              <p class="sub_title">{{ form.team_topic }}</p>
                          </div>
                          <div class="col-12 col-md-4">
                              <h3 class="title">隊伍成員
                                  {% if target_members %}
                                  <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                  {% else %}
                                  <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                  {% endif %}
                              </h3>
                               <hr>
                              {% if target_members %}
                                {% for target_member in target_members %}
                                    <h5><span class="badge badge-info">
                                    {% if forloop.first %}隊長{% else %}隊員{% endif %}
                                    </span>
                                    {{ target_member.member_name }}
                                    </h5>
                              {% endfor %}
                              {% else %}
                                  <p class="sub_title">尚未完成隊員資料填寫，<a href="{% url 'show_team' %}">立即開始!</a></p>
                              {% endif %}
                          </div>
                          <div class="col-12 col-md-4">
                              <h3 class="title">競賽文件
                                  {% if target_team.affidavit and target_team.video_link and target_team.readme%}
                                  <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                  {% else %}
                                  <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                  {% endif %}
                              </h3>
                              <hr>
                              <h5>
                                  <span class="badge badge-info">競賽切結書</span>
                                  {% if target_team.affidavit %}
                                  <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                  {% else %}
                                  <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                  {% endif %}
                              </h5>
                              <h5>
                                  <span class="badge badge-info">Youtube影片</span>
                                  {% if target_team.video_link %}
                                  <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                  {% else %}
                                  <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                  {% endif %}
                              </h5>
                              <h5>
                                  <span class="badge badge-info">作品說明書</span>
                                  {% if target_team.readme %}
                                  <i class="fas fa-check-circle" style="color:mediumseagreen"></i>
                                  {% else %}
                                  <i class="fas fa-times-circle" style="color: lightcoral"></i>
                                  {% endif %}
                              </h5>
                          </div>
                           <div class="col-12 col-md-4">
                              <h3 class="title">競賽結果</h3>
                              <hr>
                          </div>
                          <div class="col-8 h"style="margin-top: 50px">
                              <div class="progress">
                                  {% complete target_members target_team.affidavit target_team.video_link target_team.readme as complete_rate  %}
                                  <div id="complete-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:{{ complete_rate }}%">
                                      {{ complete_rate }}%
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </section>

{% endblock  %}
{% block JScontent %}

{% endblock %}

