<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>您好，</p>

<p>您已要求重置密碼，請點選以下連結重設密碼：</p>

<ul>
	<li>
	<p><a href="http://{{ coding101_url }}/accounts/reset_password/{{ active_key }}/{{ check_token }}">前往重置密碼</a>&nbsp;</p>
	</li>
</ul>

{#<p>附件供參考。</p>#}
{#<br>#}
{#<div>#}
{#    {% autoescape off %}#}
{#        {{ announcement }}#}
{#    {% endautoescape %}#}
{#</div>#}
{#<p><a href="https://www.openedu.tw/" target="_blank"><img alt="https://www.openedu.tw/" src="https://autoemail.openedu.tw/static/images/logo_openedu.png" style="height:38px; width:150px" /></a>　　#}
{#    <a href="https://www.facebook.com/openedu.tw/" target="_blank"><img alt="image.png" src="https://autoemail.openedu.tw/static/images/logo_fb.png" style="height:40px; width:40px" /></a>#}
{#</p>#}

</body>
</html>