{% extends 'base.html' %}
{% block title %}我的作品{% endblock  %}
{% block content-title %}我的作品{% endblock %}

{% block content %}
    <section class="bottom" id="table-section">
        <div class="container">
            <h2 class="title">我的作品</h2>
            <p class="sub_title">檢視我的個人作品</p>
            <div class="content-box table-responsive cursor_p"  onclick="javascript:location.href='{% url 'file_list' %}'">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img src="https://via.placeholder.com/400x200.png" class="img-fluid"  height="200px"  alt="Responsive image">
                    </div>
                    <div class="col-12 col-md-8 idea-box">
                        <div class="idea-title">當python遇上法院判決書</div>
                        <div class="idea-place">展覽於 coding101
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock  %}

{% block JScontent %}
{% endblock %}