{% extends 'base.html' %}
{% block title %}隊伍資料{% endblock  %}
{% block error_content %}
    <div class="container-fluid">
        {% if error_message %}
            <div>{{ error_message }}</div>
        {% endif %}
        {% if error_link %}
            <p>Please click <a href="{% url error_link %}">here</a>
        {% endif %}

    </div>
{% endblock %}
{% block content %}
    <section class="bottom" id="table-section">
        <div class="container">
            <h2 class="title">隊伍資料</h2>
            <p class="sub_title">檢視隊伍資訊</p>
            <div class="content-box table-responsive">
                  <div>
                      <h3 class="title">隊伍資料</h3>
                      <hr>
                      <div class="row">
                          <div class="col-md-10">
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                      <span class="badge badge-info">名稱</span>
                                      {{ form.team_name }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                      <span class="badge badge-info">主題</span>
                                      {{ form.team_topic }}
                                    </div>
                                    <div class="col-md-3 mb-3">
                                      <span class="badge badge-info">大學</span>
                                      {{ form.team_school }}
                                    </div>
                                    <div class="col-md-3 mb-3">
                                      <span class="badge badge-info">人數(含隊長)</span>
                                      {{ real_member_num }}
                                    </div>
                                    <div class="col-md-6 mb-3">
                                      <span class="badge badge-info">教授</span>
                                      {{ form.team_teacher }}
                                    </div>
                                </div>
                          </div>
                          <div class="col-md-2">
                              <button type="button" onclick="edit_team('team')" class="btn btn-outline-info mb-1" style="width: 100%">
                                  <i class="far fa-edit"></i>編輯
                              </button>
                          </div>
                      </div>
                  </div>
            </div>

            <div class="content-box-no-bgc table-responsive">

            </div>

              {% if target_members %}
                  {% for target_member in target_members %}
                   <div class="content-box table-responsive" style="padding: 10px 20px 10px 20px">
                        <div>
                          {% if forloop.first %}
                              <h3 class="title">隊長(主聯絡人)</h3>
                          {% else %}
                              <h3 class="title">隊員</h3>
                          {% endif %}
                                <hr>
                                  <div class="row">
                                      <div class="col-md-10">
                                         <div class="form-row">
                                            <div class="col-md-3 mb-3">
                                                <span class="badge badge-info">姓名</span>
                                              {{ target_member.member_name }}
                                            </div>
                                            <div class="col-md-3 mb-3">
                                              <span class="badge badge-info">學校</span>
                                              {{ target_member.school_name }}
                                            </div>
                                            <div class="col-md-6 mb-3">
                                              <span class="badge badge-info">系所</span>
                                              {{ target_member.department_name }} {{ target_member.department_grade }} 年級
                                            </div>
                                          </div>
                                          <div class="form-row">
                                             <div class="col-md-6 mb-3">
                                              <span class="badge badge-info">信箱</span>
                                              {{ target_member.email_addr }}
                                            </div>
                                            <div class="col-md-6 mb-3">
                                              <span class="badge badge-info">電話</span>
                                              {{ target_member.phone_number }}
                                            </div>
                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          {% if forloop.first %}
                                              <button type="button" onclick="edit_team('player')" class="btn btn-outline-info mb-1" style="width: 100%">
                                                  <i class="far fa-edit"></i>編輯
                                              </button>
                                          {% else %}
                                              <form class="navbar-right navbar-form" method="post" action="{% url 'modify_member' %}">
                                                  {% csrf_token %}
                                                  <input type="hidden" name="btn_target_name" value="{{ target_member.id }}">
                                                  <button class="btn btn-outline-info mb-1" style="width: 100%" type="submit"><i class="far fa-edit"></i>
                                                  編輯
                                                  </button>
                                              </form>
                                              <form class="navbar-right navbar-form" method="post" action="{% url 'del_member' %}">
                                                  {% csrf_token %}
                                                  <input type="hidden" name="btn_target_name" value="{{ target_member.id }}">
                                                  <button class="btn btn-outline-danger" style="width: 100%" type="submit"><i class="far fa-trash-alt"></i>
                                                  刪除
                                                  </button>
                                              </form>
                                          {% endif %}
                                      </div>
                                  </div>

                                </div>
                           </div>
                          {% endfor %}
                      {% endif %}
                    {% if real_member_num < 5%}
                        <div class="content-box table-responsive cursor_p" onclick="location.href='{% url 'add_member' %}';" style="padding: 10px 20px 10px 20px;background-color:rgba(0,0,0,0.05);text-align: center;">
                            <div>
                                 <h4 class="fw9">
                                     <i class="fas fa-plus-circle"></i> 新增隊員{{ real_member_num|add:"1" }}
                                 </h4>
                            </div>
                        </div>
                    {% endif %}
                  </div>
            </div>
        </div>
    </section>
{% endblock  %}
{% block JScontent %}
    <script>
        function setCookie(cname,cvalue,exdays) {
          var d = new Date();
          d.setTime(d.getTime() + (exdays*24*60*60*1000));
          var expires = "expires=" + d.toGMTString();
          document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
         }

        function getCookie(cname) {
          var name = cname + "=";
          var decodedCookie = decodeURIComponent(document.cookie);
          var ca = decodedCookie.split(';');
          for(var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
              c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
              return c.substring(name.length, c.length);
            }
          }
          return "";
        }

        //清除隊伍Cookie
        window.onload = function() {
          setCookie('modify-mode','',-1);
        };

        //隊長、隊伍資訊編輯鈕
        let url='{% url 'modify_team' %}';
        function edit_team(modify_mode){
            location.href=url;
            setCookie('modify-mode',modify_mode,1);
        }

    </script>
{% endblock %}

