{% extends 'base.html' %}

{% block title %}
    Home
{% endblock  %}

{% block content %}
    <section>
        <div class="container">
            <img src="https://via.placeholder.com/400X200?text=ProjectX+ShareX"  width="100%"  class="img-fluid" alt="Responsive image">
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Share <span style="position: absolute;line-height: 0.2">+</span></h2>
                    <table>
                        <tr>
                            <td>sdsd </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <h2>Project <span style="position: absolute;line-height: 0.2">+</span></h2>
                </div>
                <div class="col-md-4">
                    <h2>我的題</h2>
                </div>
            </div>
        </div>
    </section>


{% endblock  %}